<h1 style="margin-left: 30%;"> Bienvenue ! </h1>
<div class="card" style="width: 40rem; filter: drop-shadow(0 0 0.15rem grey); margin-right:auto; margin-left:auto;">
<div class="card-body">
<% @owners.each do |owner| %>
  
  <% if owner.building.id == params[:building_id].to_i %>
  <%= owner.first_name %> </br>
  <%= owner.building.name %> </br>
  <%= owner.building.adress %> </br>
  <%= button_to "Supprimer", agency_building_owner_path(params[:agency_id], params[:building_id], owner.id), method: :delete, class:"btn mb-1 btn-danger mt-3" %>

  <% end %>
  <% end %>
</div>
</div>