
<%= form_tag subscription_path(1), method: :put do %>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Votre mois gratuit"
            data-amount="0"></script><span></span>
  <% end %> 