<body style="margin-top: 150px;">
  <div class="login-form-bg h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100">
        <div class="col-xl-6 rounded">
          <div class="form-input-content">
            <div class="card login-form mb-0">
            <div class="rounded-top" style="background-color: #EEBC6D;">
            <h2 class="text-center mt-3 mb-3 text-white">Rejoignez dès à présent mainHouse pour votre mois d’essai gratuit ! </h2>
            </div>
            <h5 class="text_center ml-4 mr-4">Profitez de pouvoir créer vos immeubles et faire vivre vos copropriétés grâce à notre plateforme.</h5>
            <p class="text_center ml-4 mr-4" style="margin: auto;">Vous ne serez pas débité si vous ne confirmez pas votre souscription à la fin du mois d’essais. Vos coordonnées bancaires seront alors supprimées de nos serveurs</p>
              <div class="card-body pt-5">
              <div class="col text-center">
              <%= render 'form'%>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>