<body>
  <div class="login-form-bg h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100">
        <div class="col-xl-6">
          <div class="form-input-content">
            <div class="card login-form mb-0 mt-5">
              <div class="card-body pt-5">
                <a class="text-center" href="#"> <h2>Profitez de votre mois d'essai </h2></a>
                  <div class="mt-5 mb-5 login-input text-center">
                    <%= render 'form'%>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>