        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer shadow" style="margin-top:0px;">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">MKBugnes</a> 2021</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->