<% if agency_signed_in? || owner_signed_in?%>
  <%-# code de la navbar Agency -%>

  <div class="footer shadow" id="wrap">
  <div id="main" class="container clear-top">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="https://themeforest.net/user/quixlab">MKBugnes</a> 2021</p>
    </div>
  </div>
  </div>

  <% else %>
    <%-# code d'absence de nabar (landing page) -%>



<% end %>